# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files generated using gnuradio on *.grc
#gr-samples/transceiver.py
#gr-samples/transceiver_myTX.py
#gr-samples/transceiver_onlyTX.py
#gr-samples/transceiver_onlyRx.py
*.py

# Files generated during gnuradio built
gnuradio/setup/

# Files generated during gnuradio module and block creation
sdr/gr-netstat/workspace/

# Files of IDE
sdn/src/intentSwitch/.idea/
